[Desktop Entry]
Type=Application
Name=Oarbank Coordinator
Comment=Set up your Oarbank coordinator
Exec=/opt/oarbank/coordinator/bin/oarbank-setup
TryExec=/opt/oarbank/coordinator/bin/oarbank-setup
Terminal=false
Categories=System;Settings;
StartupNotify=true
